[submodule "extern/clean-core"]
	path = extern/clean-core
	url = git@github.com:project-arcana/clean-core.git
[submodule "extern/typed-geometry"]
	path = extern/typed-geometry
	url = https://www.graphics.rwth-aachen.de:9000/ptrettner/typed-geometry.git
[submodule "extern/polymesh"]
	path = extern/polymesh
	url = https://www.graphics.rwth-aachen.de:9000/ptrettner/polymesh.git
[submodule "extern/ctracer"]
	path = extern/ctracer
	url = https://www.graphics.rwth-aachen.de:9000/ptrettner/ctracer.git
[submodule "extern/reflector"]
	path = extern/reflector
	url = git@github.com:project-arcana/reflector.git
[submodule "extern/task-dispatcher"]
	path = extern/task-dispatcher
	url = git@github.com:project-arcana/task-dispatcher.git
[submodule "extern/structured-interface"]
	path = extern/structured-interface
	url = git@github.com:project-arcana/structured-interface.git
[submodule "extern/phantasm-renderer"]
	path = extern/phantasm-renderer
	url = git@github.com:project-arcana/phantasm-renderer.git
[submodule "extern/phantasm-viewer"]
	path = extern/phantasm-viewer
	url = git@github.com:project-arcana/phantasm-viewer.git
